{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {{form.title}} 
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script src="https://kit.fontawesome.com/bc6e988caa.js" crossorigin="anonymous"></script>
    <script src = "{% static 'js/exam_form.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
   
</head>

<body id="page-top">
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fa-brands fa-quinscape"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Quizbox</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'form' %}"><i class="fas fa-table"></i><span>Forms</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'responses' form.uuid %}"><i class="fa-solid fa-list"></i><span>Responses</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                             {% if user.is_authenticated %}
                            <li class="nav-item dropdown d-flex no-arrow">
                                <div class="nav-item m-auto">
                                    <button type="button" class="btn btn-outline-dark btn-sm publish" data-id="{{form.code}}">Publish</button>
                                </div>
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{user.username}}</span></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#">
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid justify-content-between" style="margin-bottom: 16px;">
                    <div class="card shadow mb-3">
                        <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>Title</strong></label>
                                        <input class="form-control" type="text" id="input-form-title" name="Title" value="{{form.title}}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" ><strong>Description</strong><br></label>
                                        <textarea rows="2" id="input-form-description" spellcheck="false" class="form-control">{{form.desc}}</textarea></div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">
                           <h3 class="text-dark mb-1" style="margin: 1px;margin-top: 3px;margin-bottom: 9px;">Questions</h3>
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle text-end" aria-expanded="false" data-bs-toggle="dropdown" type="button">Add </button>
                                <div class="dropdown-menu"><a class="dropdown-item" id="add-mcq">Add MCQ</a><a class="dropdown-item" id="add-msq" >Add MSQ</a><a class="dropdown-item" id="add-sa">Add Short Ans</a><a class="dropdown-item" id="add-la">Add Long Ans</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row main-container">
                    <div class="col">
                        {% for question in form.questions.all %}
                        {% if question.q_type == "sa" %}
                        <div class="card shadow mb-3 question" data-id="{{question.id}}">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Question Short Answer</p>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                        <div class="mb-3"><label class="form-label" for=""><strong>Question</strong></label>
                                        <input class="form-control question-title input-question" data-id="{{question.id}}" data-type="{{question.q_type}}" 
                                        type="text" name="Question" value="{{question.ques}}" placeholder="Question"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3 answer" data-id="{{question.id}}">
                                            <label class="form-label"><strong>Answer</strong><br></label>
                                            <input class="form-control short-answer" disabled type="text" placeholder="Short Answer" ></div>
                                            <!-- <div id="editor-fr" style="height: 300px; width: 300px"></div> -->

                                        </div>
                                    </div>
                            </div>
                            <div class="d-flex justify-content-between card-footer">
                                <div class="form-check">
                                    <input class="form-check-input required-checkbox" type="checkbox" id="required-{{question.id}}" 
                                    data-id="{{question.id}}" 
                                    {% if question.req %}checked{% endif %} type="checkbox" >
                                    <label class="form-check-label required">Required</label>
                                </div>
                                <i class="fa-solid fa-trash delete-question" data-id="{{question.id}}"></i>
                            </div>
                        </div>
                        {% endif %}

                        {% if question.q_type == "la" %}
                        <div class="card shadow mb-3 question" data-id="{{question.id}}">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Question Long Answer</p>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label" for=""><strong>Question</strong></label>
                                            <input class="form-control question-title input-question" data-id="{{question.id}}" data-type="{{question.q_type}}" 
                                            type="text" name="Question" value="{{question.ques}}" placeholder="Question"></div>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3 answer" data-id="{{question.id}}">
                                                <label class="form-label" for="">
                                                <strong>Answer</strong><br></label>
                                                <textarea class="form-control long-answer" disabled placeholder="Long Answer"></textarea></div>
                                        </div>
                                    </div>
                            </div>
                            <div class="d-flex justify-content-between card-footer">
                                <div class="form-check">
                                    <input class="form-check-input required-checkbox" type="checkbox" id="required-{{question.id}}" 
                                    data-id="{{question.id}}" 
                                    {% if question.req %}checked{% endif %} type="checkbox" >
                                    <label class="form-check-label required">Required</label>
                                </div>
                                <i class="fa-solid fa-trash delete-question" data-id="{{question.id}}"></i>
                            </div>
                        </div>    
                        {% endif %}
                        {% if question.q_type == "mcq" %}
                        <div class="card shadow mb-3 question" data-id="{{question.id}}">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Question MCQ</p>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="mb-3"><label class="form-label" for=""><strong>Question</strong></label>
                                            <input class="form-control question-title input-question" data-id="{{question.id}}" data-type="{{question.q_type}}" 
                                            type="text" name="Question" value="{{question.ques}}" placeholder="Question"></div>
                                            </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3 choices" data-id="{{question.id}}">
                                                <label class="form-label" for=""><strong>Options</strong><br></label>
                                                {%for choice in question.options.all %}

                                                <div class="form-check justify-content-between d-flex" data-id="{{question.id}}">
                                                    <input class="form-check-input" id="{{choice.id}}" disabled type="radio" >
                                                    <input class="form-control mx-2 edit-choice" value="{{choice.optn}}" data-id="{{choice.id}}">
                                                    <span class="remove-option" title = "Remove" data-id="{{choice.id}}"><i class="fa-solid fa-xmark"></i></span>
                                                </div>
                                                {% endfor %}
                                                <button class="btn m-1 btn-outline-dark btn-sm add-option" type="button" data-question="{{question.id}}" data-type="{{question.q_type}}" style="width: 30px;height: 31px;padding: 6px 12px;padding-left: 10px;padding-right: 10px;padding-top: 4px;padding-bottom: 4px;"><Strong>+</Strong></button></div>
                                        </div>
                                    </div>
                            </div>
                            <div class="d-flex justify-content-between card-footer">
                                <div class="form-check">
                                    <input class="form-check-input required-checkbox" type="checkbox" id="required-{{question.id}}" 
                                    data-id="{{question.id}}" 
                                    {% if question.req %}checked{% endif %} type="checkbox" >
                                    <label class="form-check-label required">Required</label>
                                </div>
                                <i class="fa-solid fa-trash delete-question" data-id="{{question.id}}"></i>
                            </div>
                        </div>
                        {% endif %}
                        {% if question.q_type == "msq" %}
                        <div class="card shadow mb-3 question" data-id="{{question.id}}">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Question MSQ</p>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="mb-3"><label class="form-label" for=""><strong>Question</strong></label>
                                            <input class="form-control question-title input-question" data-id="{{question.id}}" data-type="{{question.q_type}}" 
                                            type="text" name="Question" value="{{question.ques}}" placeholder="Question"></div>
                                            </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3 choices" data-id="{{question.id}}">
                                                <label class="form-label" for=""><strong>Options</strong><br></label>
                                                {%for choice in question.options.all %}

                                                <div class="form-check justify-content-between d-flex" data-id="{{question.id}}">
                                                    <input class="form-check-input flex-fill" id="{{choice.id}}" disabled type="checkbox" >
                                                    <input class="form-control mx-2 edit-choice" value="{{choice.optn}}" data-id="{{choice.id}}">
                                                    <span class="remove-option" title = "Remove" data-id="{{choice.id}}"><i class="fa-solid fa-xmark"></i></span>
                                                </div>
                                                {% endfor %}
                                                <button class="btn m-1 btn-outline-dark btn-sm add-option" type="button" 
                                                data-question="{{question.id}}" data-type="{{question.q_type}}" style="width: 30px;height: 31px;padding: 6px 12px;padding-left: 10px;padding-right: 10px;padding-top: 4px;padding-bottom: 4px;"><Strong>+</Strong></button></div>
                                        </div>
                                    </div>
                                </div>

                            <div class="d-flex justify-content-between card-footer">
                                <div class="form-check">
                                    <input class="form-check-input required-checkbox" type="checkbox" id="required-{{question.id}}" 
                                    data-id="{{question.id}}" 
                                    {% if question.req %}checked{% endif %} type="checkbox" >
                                    <label class="form-check-label required">Required</label>
                                </div>
                                <i class="fa-solid fa-trash delete-question" data-id="{{question.id}}"></i>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Quizbox 2022</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.12.5/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor-fr");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>

</html>