{% extends 'base.html' %}
{% block title %}
{{form.title}} 
{% endblock %}
{% load static %}
{% block script %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.dataTables.min.css">
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
<script src = "{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="create-form">
        <div class="container">
            <p class="forms-label">Create a new Exam</p>
            <div class="form-template-box">
                <button type="button" class="btn btn-primary" id="create-blank-form" >Create</button>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <table id="example" class="display" style="width:100%">

        <thead>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Publish Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in form %}
            <tr>
                <td><ul class="list-inline m-0">
                    <div class="inline-text">{{i.title}}</div>
                    <li class="list-inline-item">
                        <button class="btn edit-btn btn-success btn-sm rounded-0" data-id="{{i.uuid}}" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-danger delete-btn btn-sm rounded-0" data-id="{{i.uuid}}" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                </ul></td>
                <td>{{i.createdAt}}</td>
                <td>{{i.updatedAt}}</td>
                <td>{{i.is_publish}}</td>
            </tr>
            {% endfor %}
            
        </tbody>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Publish Status</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}