{% extends "base.html" %}
{% load static %}
{% block title %}{{form.title}}{% endblock %}
{% block script %}
<script src="{% static 'js/view_exam.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/form_style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <form action="{% url 'submit_exam' form.uuid %}" class="container" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="margin-top-bottom box question-box">
            <div class="form-title-box">
                <h1 class="form-title txtClr">{{form.title}}</h1>
                <p class="required-info">* Required</p>
            </div>
            <div class="form-description txtClr">{{form.desc}}</div>
        </div>
        {% for question in form.questions.all %}
        <div class="margin-top-bottom box question-box">
            <h1 class="question-title txtClr">{{question.ques}} {% if question.req %}<span class="require-star">*</span>{% endif %}</h1>
            {% if question.q_type == "sa" %}
                <input type="text" name="{{question.id}}" class="short-answer textarea-adjust" placeholder = "Your answer" {% if question.req %} required {% endif %}>
                {% elif question.q_type == "la" %}
                <textarea name="{{question.id}}" placeholder="Your answer" class="long-answer textarea-adjust" {% if question.req %} required {% endif %}></textarea>
                {% elif question.q_type == "mcq" %}
                {% for choice in question.options.all %}
                <div class="multiple-choice">
                    <input type="radio" name="{{question.id}}" id="{{choice.id}}" {% if question.req %} required {% endif %} value="{{choice.id}}">
                    <label for="{{choice.id}}" class="txtClr">{{choice.optn}}</label>
                </div>
                {% endfor %}
            {% elif question.q_type == "msq" %}
                {% for choice in question.options.all %}
                <div class="multiple-choice">
                    <input type="checkbox" name="{{question.id}}" id="{{choice.id}}" {% if question.req %} required {% endif %} value="{{choice.id}}">
                    <label for="{{choice.id}}" class="txtClr">{{choice.optn}}</label>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        

        <div class="text-center">
            <input type="submit" value="Submit">
          </div>
    </form>
    <img src="{% url 'video' %}" width="50%">

</div>
{% endblock %}